{% extends "base.html" %}

{% block content %}
<h3>Преступление и наказание
</h3><h4>Эпилог
</h4><h5>Глава 1
</h5><h6>Родиона приговаривают к восьми годам каторги в Сибири. Пульхерия Александровна еще в начале процесса заболела (болезнь ее была нервной, больше похожей на помешательство) и Дуня и Разумихин увезли ее из Петербурга. Женщина придумывает историю о том, что Раскольников уехал и живет этой выдумкой.
</h6><h6>Соня уезжает за партией арестантов, в которой отправили на каторгу Раскольникова. Дуня и Разумихин поженились, оба планируют через пять лет переехать в Сибирь. Через некоторое время Пульхерия Александровна умирает от тоски по сыну. Соня регулярно пишет близким Родиона о его жизни на каторге.
</h6><h5>Глава 2
</h5><h6>На каторге Родион не мог найти общего языка с другими заключенными: его все не любили и избегали, считая безбожником. Раскольников размышляет о своей судьбе, ему стыдно, что он так бездарно и глупо загубил свою жизнь. Свидригайлов, сумевший покончить с собой, кажется ему сильнее духом, чем он сам.
</h6><h6>Соню же, приходившую к Родиону, все арестанты полюбили, при встрече снимали перед ней шапки. Девушка передавала им деньги и вещи от близких.
</h6><h6>Раскольников заболел, лежит в госпитале, выздоравливая тяжело и медленно. Соня регулярно его навещала и в один из дней Родион, плача, бросился к ее ногам и начал обнимать колени девушки. Соня сначала испугалась, но после поняла, «что он любит, бесконечно любит ее». «Их воскресила любовь, сердце одного заключало бесконечные источники жизни для сердца другого»
</h6>
<nav class="navbar">
    <a class="btn btn-primary " href="/book_2_6">Предыдущая страница</a>
    </nav>
<form action="" method="post">
        {{ form.hidden_tag() }}
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    </form>
{% endblock %}