{% extends "base.html" %}

{% block content %}
<h3>Преступление и наказание
</h3><h4>Часть шестая
</h4><h5>Главы 1-2
</h5><h6>Похороны Катерины Ивановны. Разумихин рассказывает Родиону, что Пульхерия Александровна заболела.
</h6><h6>К Раскольникову приходит Порфирий Петрович. Следователь заявляет, что подозревает Родиона в убийстве. Он советует ему явиться в участок с повинной, дав на размышления два дня. Тем не менее никаких доказательств против Раскольникова нет, а в убийстве он пока не признается.
</h6><h5>Главы 3-4
</h5><h6>Раскольников понимает, что ему нужно поговорить со Свидригайловым: «в этом человеке таилась какая-то власть над ним». Родион встречает Аркадия Ивановича в трактире. Свидригайлов рассказывает Раскольникову о своих отношениях с покойной женой и о том, что действительно был очень сильно влюблен в Дуню, но сейчас у него есть невеста.
</h6><h5>Глава 5
</h5><h6>Свидригайлов уходит из трактира, после чего втайне от Раскольникова встречается с Дуней. Аркадий Иванович настаивает, чтобы девушка зашла к нему в квартиру. Свидригайлов рассказывает Дуне об услышанном разговоре Сони и Родиона. Мужчина обещает спасти Раскольникова в обмен на расположение и любовь Дуни. Девушка хочет уйти, но дверь оказывается запертой. Дуня достает припрятанный револьвер, несколько раз стреляет в мужчину, но не попадает, и просит отпустить ее. Свидригайлов дает Дуне ключ. Девушка, бросив оружие, уходит.
</h6><h5>Глава 6
</h5><h6>Весь вечер Свидригайлов проводит по трактирам. Вернувшись домой, мужчина зашел к Соне. Аркадий Иванович говорит ей, что, возможно, уедет в Америку. Девушка благодарит его за то, что он устроил похороны и помог сиротам. Мужчина дает ей три тысячи рублей, чтобы она смогла жить нормальной жизнью. Девушка сначала отказывается, но Свидригайлов говорит, что знает, что она готова пойти за Родионом на каторгу и деньги ей точно понадобятся.
</h6><h6>Свидригайлов забредает в глушь города, где останавливается в гостинице. Ночью ему снится девочка-подросток, которая давно из-за него погибла, утопившись после того, как мужчина разбил ей сердце. Выйдя на рассвете на улицу, Свидригайлов выстрелил себе в голову из револьвера Дуни.
</h6><h5>Глава 7
</h5><h6>Раскольников прощается с сестрой и матерью. Юноша говорит близким, что собирается признаться в убийстве старухи, обещает начать новую жизнь. Родион сожалеет, что не смог переступить через заветный порог собственной теории и своей совести.
</h6><h5>Глава 8
</h5><h6>Раскольников идет к Соне. Девушка надевает на него кипарисовый нательный крестик, советуя ему пойти на перекресток, поцеловать землю и сказать вслух «Я убийца». Родион делает так, как сказала Соня, после чего идет в полицейский участок и признается в убийстве старухи-процентщицы и ее сестры. Там же узнает о самоубийстве Свидригайлова.
</h6>
<nav class="navbar">
    <a class="btn btn-primary " href="/book_2_5">Предыдущая страница</a>
    <a class="btn btn-primary " href="/book_2_7">Следующая страница</a>
    </nav>
<form action="" method="post">
        {{ form.hidden_tag() }}
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    </form>
{% endblock %}