{% extends "base.html" %}

{% block content %}
<h3>Преступление и наказание
</h3><h4>Часть вторая
</h4><h5>Глава 1
</h5><h6>Раскольников проспал до трех часов дня. Проснувшись, герой вспоминает о содеянном. Он в ужасе пересматривает всю одежду, проверяя, не осталось ли на ней следов крови. Тут же находит взятые у процентщицы драгоценности, о которых совсем забыл и прячет их в угол комнаты, в дыру под обоями.
</h6><h6>К Родиону приходит Настасья. Она принесла ему повестку от квартального: герою нужно было явиться в полицейскую контору. Родион нервничает, но в участке выясняется, что от него требуется только написать расписку с обязательством выплатить долг квартирной хозяйке.
</h6><h6>Уже собираясь уходить из участка, Родион случайно слышит разговор полицейских об убийстве Алены Ивановны и падает в обморок. Все решают, что Раскольников болен и отпускают домой.
</h6><h5>Глава 2
</h5><h6>Опасаясь обыска, Родион прячет ценности старухи (кошелек с деньгами и драгоценности) под камень в безлюдном дворе, окруженном глухими стенами.
</h6><h5>Глава 3
</h5><h6>Вернувшись домой, Раскольников пробредил несколько дней, а очнувшись, увидел рядом с собой Разумихина и Настасью. Родиону приносят денежный перевод от матери, приславшей деньги на оплату жилья. Дмитрий рассказывает другу, что пока тот был болен, к Родиону несколько раз заходил полицейский Заметов и расспрашивал о его вещах.
</h6><h5>Глава 4
</h5><h6>К Раскольникову заходит еще один товарищ – студент-медик Зосимов. Он начинает разговор об убийстве Алены Ивановны и ее сестры Лизаветы, рассказывая, что в преступлении подозревают многих, в том числе красильщика Миколу, однако достоверных улик пока у полиции нет.
</h6><h5>Глава 5
</h5><h6>К Раскольникову приходит Петр Петрович Лужин. Раскольников упрекает мужчину, что тот собирается жениться на Дуне только для того, чтобы девушка до конца жизни была благодарна за избавление ее семьи от нищеты. Лужин пытается это отрицать. Рассерженный Раскольников выгоняет его.
</h6><h6>Вслед за ним уходят и друзья Раскольникова. Разумихин переживает за друга, считая, что «у него что-то есть на уме! Что-то неподвижное, тяготящее».
</h6><h5>Глава 6
</h5><h6>Случайно зайдя в распивочную «Хрустальный дворец» Раскольников встречает там Заметова. Обсуждая с ним дело об убийстве старухи, Родион высказывает свое мнение о том, как бы он действовал на месте убийцы, спрашивает, что бы делал Заметов, если бы убийцей оказался он, и почти напрямую говорит, что это он убил старуху. Заметов решает, что Родион сумасшедший и не верит в его виновность.
</h6><h6>Гуляя по городу, Раскольников решает утопиться, но, передумав, в полубреду идет к дому убитой старухи-процентщицы. Там идет ремонт и Родион заговаривает с рабочими о случившемся преступлении. Все думают, что он сумасшедший.
</h6><h5>Глава 7
</h5><h6>По дороге к Разумихину Раскольников видит толпу, собравшуюся вокруг случайно сбитого совершенно пьяного Мармеладова. Пострадавшего относят домой, он находится в тяжелом состоянии.
</h6><h6>Перед смертью Мармеладов просит у Сони прощения и умирает у дочери на руках. Раскольников отдает все свои деньги на похороны Мармеладова.
</h6><h6>Родион чувствует, что выздоравливает и идет в гости к Разумихину. Дмитрий провожает его домой. Подходя к дому Раскольникова, студенты видят в его окнах свет. Когда друзья поднялись в комнату, оказалось, что к Родиону приехали мать и сестра. Увидев близких, Раскольников упал в обморок.
</h6>
<nav class="navbar">
    <a class="btn btn-primary " href="/book_2">Предыдущая страница</a>
    <a class="btn btn-primary " href="/book_2_3">Следующая страница</a>
    </nav>
<form action="" method="post">
        {{ form.hidden_tag() }}
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    </form>
{% endblock %}