{% extends "base.html" %}

{% block content %}
<h3>Преступление и наказание
</h3><h4>Часть пятая
</h4><h5>Глава 1
</h5><h6>Лужин считает, что в их ссоре с Дуней виноват исключительно Раскольников. Петр Петрович думает о том, что зря не дал Раскольниковым денег до свадьбы: это бы решило многие проблемы. Желая отомстить Родиону, Лужин просит своего соседа по комнате Лебезятникова, хорошо знакомого с Соней, позвать девушку к нему. Петр Петрович извиняется перед Соней, что не сможет присутствовать на похоронах (хотя и был приглашен), и дает ей десять рублей. Лебезятников замечает, что Лужин что-то задумал, но пока не понимает, что именно.
</h6><h5>Глава 2
</h5><h6>Катерина Ивановна устроила хорошие поминки по мужу, однако многие из приглашенных не пришли. Здесь присутствовал и Раскольников. Екатерина Ивановна начинает ссориться с хозяйкой квартиры Амалией Ивановной из-за того, что та пригласила кого попало, а не «народ получше и именно знакомых покойного». Во время их ссоры приходит Петр Петрович.
</h6><h5>Глава 3
</h5><h6>Лужин сообщает, что Соня украла у него сто рублей и свидетелем этому является его сосед Лебезятников. Девушка сначала теряется, но быстро начинает отрицать свою вину и отдает Петру Петровичу его десять рублей. Не веря в вину девушки, Катерина Ивановна начинает при всех выворачивать карманы дочери и оттуда выпадает сторублевая купюра. Лебезятников понимает, что Лужин ввязал его в неловкую ситуацию и говорит присутствующим, что вспомнил, как Петр Петрович сам подсунул Соне деньги. Раскольников защищает Соню. Лужин кричит и злится, обещает вызывать полицию. Амалия Ивановна выгоняет Катерину Ивановну вместе с детьми из квартиры.
</h6><h5>Глава 4
</h5><h6>Раскольников идет к Соне, раздумывая о том, стоит ли говорить девушке, кто убил Лизавету. Он понимает, что должен все рассказать. Мучаясь, Родион говорит девушке, что знаком с убийцей и что Лизавету он убил нечаянно. Соня все понимает и, сочувствуя Раскольникову, говорит, что несчастнее его нет «никого теперь в целом свете». Она готова пойти за ним даже на каторгу. Соня спрашивает у Родиона, почему он пошел убивать, если даже не взял награбленное, на что тот отвечает, что хотел стать Наполеоном: «я захотел осмелиться и убил… я только осмелиться захотел, Соня, вот вся причина!». «Мне другое надо было узнать <…> Смогу ли я переступить или не смогу! <…> Тварь ли я дрожащая или право имею».
</h6><h6>Соня говорит, что ему нужно пойти и признаться в содеянном, тогда его бог простит и «опять жизнь пошлет».
</h6><h5>Глава 5
</h5><h6>К Соне приходит Лебезятников и говорит, что Катерина Ивановна сошла с ума: женщина заставила детей просить милостыню, ходит по улице, бьет в сковороду и заставляет детей петь и танцевать. Катерину Ивановну помогают отнести в комнату к Соне, где женщина и умирает.
</h6><h6>К находившемуся у Сони Родиону подошел Свидригайлов. Аркадий Иванович говорит, что оплатит похороны Катерины Ивановны, устроит детей в сиротские заведения и позаботится о судьбе Сони, прося передать Дуне, что так потратит те десять тысяч, которые хотел отдать ей. На вопрос Родиона, отчего Аркадий Иванович стал таким щедрым, Свидригайлов отвечает, что слышал через стенку все их разговоры с Соней.
</h6>
<nav class="navbar">
    <a class="btn btn-primary " href="/book_2_4">Предыдущая страница</a>
    <a class="btn btn-primary " href="/book_2_6">Следующая страница</a>
    </nav>
<form action="" method="post">
        {{ form.hidden_tag() }}
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    </form>
{% endblock %}