{% extends "base.html" %}

{% block content %}
<h3>Преступление и наказание</h3>
<h4>Часть первая</h4>
<h5>Глава 1
</h5><h6>Главный герой романа Родион Раскольников находится в положении, граничащем с нищетой, он второй день почти ничего не ел и должен хозяйке квартиры приличную сумму за аренду. Юноша направляется к старухе-процентщице Алене Ивановне, обдумывая по дороге «загадочное» дело, мысли о котором тревожили его давно – герой собирался убить.
</h6><h6>Придя к Алене Ивановне, Раскольников закладывает серебряные часы, при этом внимательно осматривая обстановку ее квартиры. Уходя, Родион обещает вскоре вернуться, чтобы заложить серебряную папиросницу.
</h6><h5>Глава 2
</h5><h6>Зайдя в распивочную, Раскольников знакомится там с титулярным советником Мармеладовым. Узнав, что Родион студент, опьяневший собеседник начинает рассуждать о бедности, высказываясь, что «бедность не порок, это истина, <…> нищета — порок-с», и рассказывает Родиону о своей семье. Его жена, Катерина Ивановна, имея на руках троих детей, вышла за него от безысходности, хотя была умной и образованной. Но Мармеладов пропивает все деньги, унося из дома последнее. Чтобы хоть как-то обеспечивать семью, его дочери, Соне Мармеладовой пришлось пойти на панель.
</h6><h6>Раскольников решил отвести пьяного Мармеладова домой, так как тот уже плохо держался на ногах. Студента поразила нищенская обстановка их жилья. Катерина Ивановна начинает ругать мужа, что снова пропил последние деньги, и Раскольников, не желая ввязываться в ссору, уходит, по не понятным для себя причинам оставив им мелочь на подоконнике.
</h6><h5>Глава 3
</h5><h6>Раскольников жил в маленькой, с очень низким потолком комнате: «это была крошечная клетушка, шагов в шесть длиной». В комнате было три старых стула, стол, большая софа в лохмотьях и маленький столик.
</h6><h6>Родиону приходит письмо от матери Пульхерии Раскольниковой. Женщина писала, что его сестру Дуню, оклеветала семья Свидригайловых, в доме у которых девушка работала гувернанткой. Свидригайлов оказывал ей недвусмысленные знаки внимания. Узнав об этом, Марфа Петровна, его жена, начала оскорблять и унижать Дуню. Кроме того, к Дуне посватался сорокапятилетний надворный советник Петр Петрович Лужин с небольшим капиталом. Мать пишет, что вскоре они с сестрой приедут в Петербург, так как Лужин хочет устроить свадьбу как можно быстрее.
</h6><h5>Глава 4
</h5><h6>Раскольникова сильно встревожило письмо матери. Юноша понимает, что родные согласились на женитьбу Лужина и Дуни, только чтобы покончить с нищетой, однако юноша против этого брака. Раскольников понимает, что не вправе запретить Дуне выходить замуж за Лужина. И Родион вновь начал думать о мучившей его давно мысли (убийстве процентщицы).
</h6><h5>Глава 5
</h5><h6>Прогуливаясь по Островам, Раскольников решил перекусить куском пирога и водкой. Юноша давно не пил, поэтому почти сразу опьянел и, не дойдя домой, заснул в кустах. Ему приснился страшный сон: эпизод из детства, в котором мужики забивали старую лошадь. Маленький Родион не может ничего сделать, он подбегает к мертвой лошади, целует ее морду и, разозлившись, бросается на мужика с кулаками.
</h6><h6>Проснувшись, Раскольников снова размышляет об убийстве процентщицы и сомневается, что сможет на него решиться. Проходя мимо базара на Сенной, юноша увидел сестру старухи – Лизавету. Из разговора Лизаветы с торговками, Раскольников узнает, что процентщица будет завтра в семь вечера одна дома. Юноша понимает, что теперь «все решено окончательно».
</h6><h5>Глава 6
</h5><h6>Раскольников случайно слышит разговор студента и офицера о том, что старуха-процентщица недостойна жить, и если ее убить, то на ее деньги можно было бы помочь очень многим неимущим молодым людям. Родиона очень взволновало услышанное.
</h6><h6>Придя домой, Раскольников, находясь в близком к бреду состоянии, начинает готовиться к убийству. Юноша пришил с внутренней стороны пальто под левой подмышкой петлю для топора так, чтобы, когда пальто было надето, топор не был заметен. Затем достал спрятанный в щели между диваном и полом «заклад» – дощечку, величиной с папиросочницу, обмотанную бумагой и перевязанную тесемкой, которую собирался дать старухе для отвлечения внимания. Закончив приготовления, Родион украл в дворницкой топор и отправился к старухе.
</h6><h5>Глава 7
</h5><h6>Придя к процентщице, Родион переживал, что старуха заметит его волнение и не впустит, однако она берет «заклад», поверив, что это папиросочница, и пытается развязать тесемку. Молодой человек, понимая, что медлить нельзя, достает топор и опускает ей на голову обухом, старуха осела, Раскольников бьет ее второй раз, после чего понимает, что она уже умерла.
</h6><h6>Раскольников достает из кармана старухи ключи и идет в ее комнату. Только он нашел богатства процентщицы в большой укладке (сундуке) и начал набивать ими карманы пальто и панталон, как неожиданно вернулась Лизавета. В растерянности герой убивает и сестру старухи. Его охватывает ужас, но постепенно герой берет себя в руки, смывает кровь с рук, топора и сапог. Раскольников хотел уже уходить, но тут услышал на лестнице шаги: к старухе пришли клиенты. Переждав, пока они уйдут, Родион сам быстро покидает квартиру процентщицы. Вернувшись домой, возвращает топор и, зайдя в свою комнату, не раздеваясь упал в забытьи на кровать.
</h6>
<nav class="navbar">
    <h5></h5>
    <a class="btn btn-primary " href="/book_2_2">Следующая страница</a>
</nav>
<form action="" method="post">
        {{ form.hidden_tag() }}
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    </form>
{% endblock %}