{% extends "base.html" %}

{% block content %}
<h3>Преступление и наказание
</h3><h4>Часть четвертая
</h4><h5>Глава 1
</h5><h6>Раскольников не рад приходу Свидригайлова, так как из-за него серьезно подпортилась репутация Дуни. Аркадий Иванович высказывает мнение, что они с Родионом очень похожи: «одного поля ягоды». Свидригайлов пытается уговорить Раскольникова устроить ему встречу с Дуней, так как его жена оставила девушке три тысячи, а он сам хотел бы дать Дуне десять тысяч за все причиненные ей неприятности. Родион отказывается устраивать их встречу.
</h6><h5>Главы 2-3
</h5><h6>Вечером Раскольников и Разумихин наведываются к маме и сестре Родиона. Лужин возмущен тем, что женщины не учли его просьбу, и не хочет при Раскольникове обсуждать детали свадьбы. Лужин напоминает Дуне, в каком бедственном положении находится ее семья, упрекая девушку в том, что она не осознает своего счастья. Дуня говорит, что не может выбирать между братом и женихом. Лужин сердится, они ссорятся, и девушка просит Петра Петровича уйти.
</h6><h5>Глава 4
</h5><h6>Раскольников приходит к Соне. «Сонина комната походила как будто на сарай, имела вид весьма неправильного четырехугольника, и это придавало ей что-то уродливое». Во время разговора молодой человек спрашивает, что теперь будет с девушкой, ведь на ней теперь почти сумасшедшая Катерина Ивановна и её дети. Соня говорит, что не может их оставить, ведь без нее они просто умрут от голода. Раскольников кланяется Соне в ноги, девушка думает, что он безумен, но Родион объясняет свой поступок: «Я не тебе поклонился, я всему страданию человеческому поклонился».
</h6><h6>Родион обращает внимание на лежащий на столе Новый Завет. Раскольников просит прочесть ему главу о воскресении Лазаря: «огарок уже давно погасал в кривом подсвечнике, тускло освещая в этой нищенской комнате убийцу и блудницу, странно сошедшихся за чтением вечной книги». Уходя, Родион обещает прийти на следующий день и рассказать Соне, кто убил Лизавету.
</h6><h6>Весь их разговор слышал Свидригайлов, находящийся в соседней комнате.
</h6><h5>Глава 5
</h5><h6>На следующий день Раскольников приходит к Порфирию Петровичу с просьбой возвратить ему его вещи. Следователь снова пытается проверить Родиона. Не выдержав, Родион, сильно нервничая, просит Порфирия наконец признать его виновным либо невиновным в убийстве старухи. Однако следователь уходит от ответа, сообщив, что в соседней комнате находится сюрприз, но не говорит какой.
</h6><h5>Глава 6
</h5><h6>Неожиданно для Раскольникова и Порфирия приводят красильщика Миколу, который при всех признается в убийстве Алены Ивановны. Раскольников возвращается домой и на пороге своей квартиры встречает того загадочного мещанина, который назвал его убийцей. Мужчина извиняется за свои слова: как оказалось, именно он был приготовленным Порфирием «сюрпризом» и теперь раскаивался в своей ошибке. Родион чувствует себя спокойней.
</h6>
<nav class="navbar">
    <a class="btn btn-primary " href="/book_2_3">Предыдущая страница</a>
    <a class="btn btn-primary " href="/book_2_5">Следующая страница</a>
    </nav>
<form action="" method="post">
        {{ form.hidden_tag() }}
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    </form>
{% endblock %}