{% extends "base.html" %}

{% block content %}
<h5>Путешествия Гулливера</h5>
<h6>
Часть I. Лилипутия
Глава 1
Семья Гулливера жила в небольшом поместье в Ноттингемшире. Мальчик был третьим из пятерых сыновей. Гулливер получил медицинское образование, после чего работал корабельным хирургом, побывал в разных странах. Вернувшись в Англию, женился на мисс Мери Бертон. Вскоре совершил несколько путешествий в Ост- и Вест-Индию.
В мае 1669 года Гулливер отправился в очередное плаванье на судне «Антилопа». Судно потерпело крушение. Гулливеру единственному удалось спастись и выбраться на сушу.
Когда Гулливер очнулся, он понял, что связан множеством тонких бечевок. Вокруг бегали вооруженные луками и копьями лилипуты. Гулливер знаками показал, что покорится любому их решению и попросил пить. По приказу короля пленника накормили. Еда была очень маленькой, поэтому он проглатывал сразу по несколько порций.
На специально сделанной платформе Гулливера доставили в столицу. Пленника поместили в огромном храме, приковав к левой ноге множество миниатюрных цепей.
Глава 2
Король Лилипутии распорядился назначить Гулливеру «штат прислуги в шестьсот человек». Пленнику сшили подстилку из лилипутских матрасов, простыню и одеяло, смастерили костюм местного фасона. В Лилипутии Гулливера называли Куинбус Флестрин – «Человек-Гора».
По приказу короля Гулливера обыскали. Среди его вещей была поржавевшая сабля, два пистолета, порох и карманные часы. Часы особенно заинтересовали короля. Очки и подзорную трубу Гулливеру удалось скрыть.
Глава 3
Вскоре Гулливер начал довольно сносно изъясняться на лилипутском языке. Чтобы развлечь Человека-Гору, король устроил красочное ярмарочное празднество. В Лилипутии была необычная традиция – на государственные должности назначали самых искусных канатоходцев. Также Гулливер натянул на вбитые палки носовой платок, сделав плац для сражений кавалеристов. Во время парада конные и пехотные войска проходили между расставленными ногами Человека-Горы, как сквозь большую арку.
Король освободил Гулливера. Против этого решения был только гальбет Скайреш Болголам – адмирал королевского флота.
Глава 4
Гулливер много общался с госсекретарем Рельдреселем. Он рассказал Человеку- Горе, что в королевстве есть две враждующие партии. «Партия тремексенов объединила сторонников высоких каблуков, слемексены же объявили себя приверженцами низких». Носить высокие каблуки запрещено Конституцией, так как их король приверженец низких.
Также Лилипутия ведет войну с соседом – империей Блефуску. Поводом стало то, что отец короля приказал разбивать яйца только с острого конца. Недовольные граждане образовали партию «тупоконечников», начали революцию, были изгнаны и нашли убежище в империи Блефуску. После этого государства стали враждовать.
Стало известно, что Блефуску снаряжает флот и собирается наступать. Король попросил помощи у Гулливера.
Глава 5
Лилипутия занимает часть континента, Блефуску представлял собой остров. Две страны разделяет широкий пролив. Гулливер за тросы перетащил корабли неприятеля на сторону Лилипутии через пролив. За это он был удостоен самого почетного в королевстве титула нардака.
Вскоре король Лилипутии потребовал, чтобы Гулливер помог ему полностью обезоружить противника, но тот отказался, чем вызвал немилость монарха.
Глава 6
Главный казначей Флимнап приревновал свою жену к Гулливеру и завидовал его высокому титулу, поэтому начал плести против великана интриги. Он сообщил королю, что содержание Человека-Горы обошлось им «в полтора миллиона спругов» (самая крупная золотая монета Лилипутии), поэтому его стоит выслать за пределы страны.
Глава 7
К Гулливеру явился знатный придворный. Он рассказал, что на совете короля по предложению Рельдреселя было решено выколоть Человеку-Горе оба глаза. Гулливер поспешил в Блефуску.
Глава 8
Гулливер обнаружил большую лодку и решил покинуть лилипутов. Император Блефуску помог ему приготовиться к отплытию. С собой Гулливер взял «шесть живых коров, двух быков и столько же овечек с баранами».
Вскоре Гулливер заметил в море английское судно, на котором он благополучно добрался до Англии. Пробыв с семьей не более трех месяцев, Гулливер сел на торговый корабль «Эдвенчер».
Часть II. Бробдингнег
Глава 1
Когда корабль миновал Мадагаскарский пролив, началась буря. Их отнесло далеко к востоку. Увидев землю, матросы решили осмотреть ее, набрать пресной воды. Гулливер отошел от остальных. Вернувшись, он увидел, что товарищи бросили его, уплывая на шлюпке от огромного великана. Испуганный мужчина побежал в глубь острова.
Гулливер выбежал к большому полю, где работники-великаны срезали серпами ячмень. Один из них услышал крики Гулливера и отнес человечка к хозяину-фермеру. Великан пытался с ним говорить, но они не понимали друг друга. Во время обеда Гулливера накормили говядиной и хлебом. Из-за своего роста он тут же попал в передрягу – сначала сын хозяина поднял его вверх ногами, а затем младенец принял за игрушку и пытался засунуть в рот.
Глава 2
Девятилетняя дочь фермера смастерила для Гулливера постель, сшила для него одежду, обучала языку великанов. Девочка дала Гулливеру имя Грильдриг, которое в переводе означает «человечек», «карлик». Он же называл ее Глюмдальклич, то есть нянюшкой.
Гулливер вызывал интерес у других великанов, поэтому фермер начал показывать его на ярмарке за деньги. Фермер отвез Гулливера в столицу королевства великанов, именуемую Лорбрульгруд, то есть «Гордость Вселенной».
Глава 3
Частые выступления подорвали здоровье Гулливера. Фермер решил, что тот скоро умрет и с радостью продал человечка королеве. Гулливер попросил взять на службу и его нянюшку Глюмдальклич.
Гулливер часто беседовал с королем. Монарх любил слушать о европейских нравах, религии, просвещении, законах и государственном устройстве, партиях виги и тори.
Гулливеру сильно доставалось от дворцового карлика. Он постоянно устраивал пакости – засовывал человечка в пустую мозговую кость, трусил над ним яблоню, а однажды даже бросил в кувшин со сливками.
Глава 4
Гулливер часто сопровождал королеву в поездках. Для него был сделан специальный дорожный сундучок.
Страна великанов была расположена на полуострове и отделена от материка высоким горным хребтом. С трех других сторон королевство окружал океан.
Глава 5
Жизнь Гулливера в целом была счастливой, но из-за роста с ним часто случались неприятности. Он попадал под град, его хватала болонка садовника, едва не уносил коршун, а как-то он даже «споткнулся о раковину улитки, упал и вывихнул ногу».
Однажды обезьяна повара схватила Гулливера и начала, словно детеныша, укачивать, а затем утащила на крышу. Когда люди начали взбираться на крышу, обезьяна отшвырнула Гулливера – к счастью, он успел зацепиться за черепицу.
Глава 6
Из волосков бороды короля Гулливер сделал гребень. Из волос королевы сплел кошелек, а также спинку и сидение для маленьких стульев.
Как-то, слушая рассказы Гулливера об Англии, король заключил: «Ваша столетняя история не что иное, как бесконечная цепь заговоров, смут, убийств, революций, казней и ссылок! И порождено это жадностью, лицемерием, вероломством, жестокостью, ненавистью, завистью, развратом и честолюбием».
Глава 7
Гулливер показал королю порох и объяснил его разрушительную силу. Гулливер предложил обучить местных мастеров оружейному делу, но, к его удивлению, король в ужасе отказался.
В школах великаны изучали только историю, математику, поэзию и этику. Книгопечатание тут существовало давно, но книги не пользовались особой популярностью. Войско состояло из купцов и фермеров, которыми командовали дворяне и вельможи.
Глава 8
Как-то Гулливер вместе с королевской семьей отправился на южное побережье. Ящик с Гулливером слуга вынес к морю. Пролетавший мимо морской орел схватил клювом кольцо на крышке ящика. В какой-то момент птица выпустила ящик, и пленник оказался в открытом море. Гулливеру едва удалось приоткрыть верхний люк, он начал кричать и махать платком. Его заметили с корабля и помогли выбраться. Через девять месяцев он вернулся в Англию.
Часть III. Лапута, Бальнибарби, Лаггнегг, Глаббдобдриб и Япония
Глава 1
Через пару месяцев после прибытия домой Гулливер снова отправился в путешествие на корабле «Добрая Надежда». По дороге на них напали голландские и японские пираты. Гулливер впал в немилость их капитана-голландца и был отправлен один в челне «на волю волн и ветров».
Обследуя ближайшие острова, Гулливер заметил над собой летающий остров. Мужчина привлек к себе внимание и его подняли наверх.
Глава 2
Жители острова отличались странными фигурами. «Головы у всех были наклонены вправо или влево, один глаз обращен внутрь, а другой устремлен к зениту». Слуги, клайменоли или хлопальщики, «имели при себе короткие палки с привязанными к ним надутыми бычьими пузырями». Они хлопали своих хозяев пузырями по губам или ушам, отвлекая от раздумий.
Гулливера доставили к королю, начали обучать языку жителей Лапуты – «летучего острова». Столицей Лапуты был город Лагадо, расположенный на земле.
Все мысли лапутян непрестанно вращаются вокруг линий и фигур. Прикладную геометрию они считают «уделом ремесленников», поэтому их дома построены очень скверно. Женщины Лапуты презирают своих мужей, питают склонность к иностранцам. Мужчины же относятся к чужеземцам с пренебрежением.
Глава 3
Вся нижняя поверхность летающего острова представляет собой цельную алмазную плиту. Главной достопримечательностью Лапуты является огромный магнит, с помощью которого «остров может подниматься, опускаться и перемещаться с места на место». Если властелин Лапуты хочет наказать подданных на континенте, он останавливает остров над их городом, лишая тем самым жителей лучей солнца и дождевой влаги.
У лапутян хорошо развита астрономия, они «открыли два спутника, обращающихся вокруг Марса», в чем далеко опередили европейцев.
Глава 4
Вскоре Гулливер отправился на континент, находящийся под властью монарха летающего острова – в королевство Бальнибарби. Путешественника принял у себя местный сановник – бывший губернатор по имени Мьюноди.
Все дома Лагадо выглядели полуразрушенными, а люди были одеты в лохмотья. За городом крестьяне трудились на пустых полях. В деревенском имении Мьюноди все было наоборот – тут «виднелись огороженные поля, виноградники, сады и луга». Мьюноди объяснил, что ведет хозяйство по старым правилам, поэтому соотечественники презирают его.
Сановник рассказал, что около 40 лет назад некоторые жители столицы отправились на Лапуту. Вернувшись на землю, они решили все изменить и создали Академию прожектеров.
Главы 5 – 6
Гулливер посетил Академию прожектеров, побывал у разных ученых. Один занимался «проектом перегонки огурцов с целью извлечения из них солнечных лучей». Второй – «проблемой превращения человеческих экскрементов в питательные вещества». Некий архитектор придумал «новый способ постройки зданий, начиная с крыши». Также ученые предлагали отказаться от слов в языке, а чтобы политические оппоненты могли достичь согласия, предлагали им вырезать и поменять части мозга. Гулливер посетил еще множество кабинетов и лабораторий, но все ученые трудились над бессмысленными вещами.
Главы 7 – 8
Гулливер отправился в главный порт королевства – Мальдонаду. Ему предложили посетить Глаббдобдриб – «остров чародеев и магов». Правил островом старейший из живущих на острове магов. Он мог на 24 часа возвращать к жизни умерших. Ожившие мертвецы прислуживали во дворце правителя.
Правитель предложил вернуть к жизни некоторых исторических лиц. Гулливер попросил оживить Александра Великого, Ганнибала, Юлия Цезаря, Гнея Помпея, Декарта, Гассенди, Аристотеля и других известных личностей.
Глава 9
Гулливер отплывает в Лаггнегг. Его арестовывают и приводят в Трильдрогдриб – резиденцию короля. По правилам королевства, Гулливеру пришлось ползать на брюхе и лизать пыль у подножия трона.
Глава 10
Один знатный господин рассказал, что «здесь, в Лаггнегге, рождаются дети с красным пятнышком на лбу» – бессмертные струльдбруги. Достигнув восьмидесятилетнего возраста, струльдбруги страдают от всех недугов и немощей, свойственных глубоким старикам. «Бессмертные неспособны к дружбе», «зависть и бессильные желания постоянно гложут их».
Глава 11
Покинув резиденцию короля, Гулливер отправился до королевского порта Глангвенстальда, откуда на корабле отплыл в Японию. В японском портовом городе Нагасаки Гулливер познакомился с голландскими моряками. С ними он доплыл до Амстердама, откуда вскоре вернулся в Англию.
Часть IV. В стране гуигнгнмов
Глава 1
Гулливер провел с женой и детьми около 5 месяцев, но тяга к путешествиям оказалась сильнее. Взяв под свое командование торговое судно «Адвенчюрер», он отправился в плавание. По дороге ему пришлось взять на Барбадосе новых людей. Они оказались пиратами, захватили корабль и высадили Гулливера на берег.
Направляясь в глубь материка, Гулливер увидел отвратительных на вид обезьяноподобных существ. Они окружили Гулливера, но, заметив приближающегося серого в яблоках коня, тут же разбежались. Конь с интересом рассматривал Гулливера. Вскоре подошла еще одна лошадь. Они что-то обсуждали между собой, а затем научили Гулливера двум словам – «йеху» и «гуигнгнм».
Глава 2
Серый конь привел Гулливера к зданию, внутри которого вдоль стены тянулись ясли с сеном и располагались другие лошади. Гулливер внешне мало чем отличался от местных йеху. Ему предложили еду йеху (тухлое мясо), но он отказался, попросив знаками молока. После обеда Гулливер испек из овса хлеб, чем также удивил коня.
Лошади использовали йеху как домашний скот, впрягали их в повозки.
Глава 3
Гулливер начал активно изучать язык гуигнгнмов. В их языке не существовало слов «ложь» и «обман», они не имели понятия о кораблях, государствах, у них не было письменности и литературы.
Глава 4
Гулливер рассказал, как с лошадьми обращаются в Англии. Особенно серого коня возмутило то, что люди ездят на гуигнгнмах верхом.
Главы 5 – 6
Гулливер подробно рассказывал коню об истории, революции, войнах, о законе и праве, ведении судовых дел, что такое деньги, в чем ценность благородных металлов.
Главы 7 – 8
Гулливер настолько проникся любовью и уважением к гуигнгнмам, что решил никогда больше не возвращаться к людям.
Гулливер описывает, что йеху очень трудно поддаются тренировке. «Они упрямы, злобны, вероломны, мстительны и полностью лишены зачатков благородства и великодушия». Гуигнгнмы, напротив, «одарены добрым сердцем и не имеют ни малейшего представления о зле; главным правилом их жизни является разумное и гармоничное существование».
Глава 9
Каждый четвертый год в стране собирается Совет представителей, где «обсуждается положение в округах, на которые разделена вся здешняя земля». На одном из них Гулливер тайно присутствовал и услышал, что гуигнгнмы считают йеху бесполезными. После Совета было решено, что Гулливера, как йеху, нужно выслать за пределы их края.
Гулливер построил нечто вроде индейской пироги, попрощался с гуигнгнмами и отправился в плавание.
Глава 10
Гулливер хотел построить хижину на ближайшем острове и осесть в одиночестве. Но его подобрали матросы португальского корабля. Они решили, что Гулливер потерял рассудок, поэтому не хочет возвращаться домой и рассказывает сказки о разумных лошадях.
Через время Гулливер вернулся к семье, однако дети раздражали его, а жена казалась чужой. Вскоре он купил двух жеребят и по несколько часов в день беседовал с ними.
Заключение
Путешествия Гулливера заняли 16 лет и 7 месяцев. В заключение он отмечает, что писал о своих путешествиях не ради славы, а «ради исправления нравов». Гулливер старается применять полученные от гуигнгнмов уроки. Он называет своих членов семьи йеху и надеется их перевоспитать. Гулливер все еще испытывает отвращение к своим соплеменникам, восхищаясь лошадьми. Особенно его раздражает человеческая гордыня.
</h6>
<form action="" method="post">
        {{ form.hidden_tag() }}
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    </form>
{% endblock %}