{% extends "base.html" %}

{% block content %}
<h5>Два капитана</h5>
<h6>
Часть 1. Детство
Главы 1-8
Однажды в небольшом городке Энске, в котором жил Саня Григорьев, на берегу реки был найден мертвым почтальон с большой сумкой, набитой письмами. Почти каждый вечер «тетя Даша читала вслух по одному письму», и Сане особенно запомнились строчки об удивительной полярной экспедиции.
По чудовищному недоразумению Саниного отца арестовали по обвинению в  убийстве – «ночью убили сторожа на понтонном мосту», и на месте преступления был обнаружен нож Григорьева-старшего. Саня знал, кто был настоящим убийцей, но не мог дать показаний из-за врожденной немоты.
Избавиться от этого досадного дефекта помог Сане чудесный доктор Иван Иванович, который научил мальчика говорить. Однако было уже слишком поздно – отец заболел и умер в тюрьме, а Саня так и не смог простить себе, что не спас его.
Главы 9-14
Спустя время мать повторно вышла замуж, но отчим оказался жестоким человеком, который мучил всю семью. Единственным утешением для Сани и его младшей сестренки Саши стала тетя Даша.
Все чаще Саня стал задумываться о том, чтобы сбежать в далекие края с верным другом Петькой Сковородниковым. Свое намерение он исполнил после смерти матери. Перед побегом в Москву друзья дали «друг другу “кровавую клятву дружбы”».
Главы 15-18
Мальчики с трудом добрались до Москвы, где рассчитывали на помощь Петькиного дяди. Узнав, что он ушел на фронт, они были вынуждены бороться за свое существование в чужом городе. Во время проверки беспризорных Петьке удалось сбежать, а Саня поначалу оказался в распределителе, а затем был определен в школу-коммуну «к Николаю Антонычу».
Часть 2. Есть над чем подумать
Главы 1-7
Поначалу Саня решил остаться в школе «до первого теплого дня», а после – сбежать. Но со временем он втянулся и понял все преимущества: больше не было ночевок под открытым небом и голодовок, да и учиться Сане понравилось. Кроме того, у него появились новые друзья – Валька Жуков и Мишка Ромашов, по прозвищу Ромашка.
Однажды Саня помог донести тяжелую сумку старушке – так он познакомился с семейством Татариновых: Ниной Капитоновной, ее дочкой Марьей Васильевной и внучкой Катей. Они жили в квартире Николая Антоновича, который приходился двенадцатилетней Кате «дядей, только не родным, а двоюродным».  Он страдал от безответной любви к Марье Васильевне, которая была «ни вдова, ни мужняя жена», ее супруг, Иван Львович, пропал без вести во время экспедиции.
Главы 8-14
У Марьи Васильевны был еще один поклонник – учитель географии Кораблев Иван Павлович, который решился сделать ей предложение, но получил отказ. Сане было жалко Кораблева, ведь он считал, что «это была подходящая пара». Николай Антонович, который ненавидел Кораблева за его влияние на Марью Васильевну, принялся всячески ущемлять его в школе.
Саня заболел менингитом и «провел в больнице не менее полугода». Его лечил Иван Иванович – тот самый доктор, который избавил его от немоты.
Однажды Кораблев вызвал Саню на серьезный разговор и убедил его «стать совсем другим человеком» – волевым, сильным, целеустремленным.
Часть 3. Старые письма
Главы 1-10
Прошло четыре года, и теперь Сане семнадцать лет. Он признался Кате в своем желании поступить «в летную школу». В свою очередь, девушка рассказала Сане историю своего отца – капитана Татаринова, который отправился на шхуне «Св. Мария» во Владивосток. Он  остался «далеко, на Крайнем Севере, среди снега и льда, и никто из его экспедиции не вернулся». Никто не сомневался, что Татаринов погиб, и только Марья Васильевна и Катя отказывались в это верить.
Перед зимними каникулами Саня пригласил Катю в «школу на костюмированный бал», где произошло их объяснение в любви. Свидетелем этой сцены стал Ромашка, которой обо всем доложил Николаю Антоновичу. С этих пор Саню перестали принимать в доме Татариновых, а Катю отправили в Энск к тетке.
Главы 11-15
Перед отъездом в Энск Саня избил Ромашку, которого всегда считал своим другом. Ему было радостно «вернуться в родной город после восьмилетней разлуки», но больше всего его волновала предстоящая встреча с Катей. В Энске он отыскал тетю Дашу, сестру Сашу, а от старика Сковородникова узнал, что Петька обосновался в Москве и решил стать художником.
Когда у тети Даши Саня наткнулся на письма утонувшего почтальона, он сразу понял, что они имеют прямое отношение к экспедиции капитана Татаринова. Саня узнал, что именно Катин отец открыл Северную землю и назвал ее в честь своей любимой жены. Экспедиция Татаринова была загублена еще на суше, и все по вине Николая Антоновича, который занимался ее подготовкой.
Саня поспешил поделиться своим открытием с Катей.
Главы 16-25
По возвращении в Москву Сане пришлось первым делом решать проблемы в школе, связанные с избиением Ромашки и самовольным отъездом. После он добился встречи с Марьей Васильевной и рассказал ей о письмах и страшном предательстве Николая Антоновича.
Катина мать, будучи не в силах вынести правду, покончила жизнь самоубийством. «Сразу после похорон Марьи Васильевны» Саня целыми днями проводил за книгами, пытаясь не думать о случившемся. За это время Николаю Антоновичу удалось всех убедить, что в письмах речь шла не о нем, а о каком-то другом человеке, и Саня не только навел поклеп на невиновного, но и довел до самоубийства несчастную женщину.
Саня пообещал себе, что станет летчиком и непременно отыщет пропавшую экспедицию капитана Татаринова, даже если бы «пришлось ухлопать всю свою жизнь».
Часть 4. Север
Главы 1-9
Летом 1928 года Саня был зачислен в летную школу в Ленинграде. С тех пор у него «не было ни одной свободной минуты» – днем он работал, а вечером учился. После окончания летной школы Сане «удалось добиться назначения на Север». В Заполярье он отыскал своего старого друга – доктора Ивана Ивановича, у которого на руках оказались дневники штурмана «Св. Марии» Ивана Климова. Благодаря этим важным документам Григорьев понял, где следует искать пропавшую экспедицию.
Главы 10-15
В Заполярье Саня встретил своего школьного товарища Вальку, который уже полгода жил здесь и работал на должности старшего ученого специалиста. От товарища Саня узнал, что «Николай Антоныч теперь профессор», а в доме у Татариновых часто бывает Ромашов, который «собирается жениться на Кате».
Спасая раненного на охоте члена окрисполкома, Саня с удивлением обнаружил среди домашней утвари одного ненца «старый латунный багор» с надписью «Шхуна “Св. Мария”». Он узнал, что много лет назад ненец нашел на берегу Таймыра брезентовую лодку, в которой находился труп мужчины.
Летом Саню отпустили в Москву «только на десять дней», и за это время он должен был успеть уладить не только личные дела, но и решить вопрос с экспедицией капитана Татаринова.
Часть 5. Для сердца
Главы 1-7
В Москве Саня первым делом пригласил Катю на свидание. Стало ясно, что девушка по-прежнему любит Саню, а Ромашова ей попросту навязывают в мужья.
Григорьев собирался «прочитать доклад в Географическом обществе», но узнал, что Николай Антонович его опередил, напечатав статью о важном открытии капитана Татаринова. Кораблеву удалось убедить Саню не сдаваться и идти до конца.
Главы 8-12
Катя твердо решила покинуть дом Татариновых, чтобы никогда не видеть Николая Антоновича – «больного или здорового, живого или мертвого». К этому времени она стала успешным геологом, начальником экспедиции, и решила начать новую жизнь вдали от старых воспоминаний.
Ромашка сообщил Сане, что ему удалось заполучить информацию, от которой Николаю Антоновичу «не поздоровится, если только умеючи взяться за дело». Он предложил весомые доказательства его вины в обмен на отказ Сани от Кати. Николай Антонович узнал об этом разговоре, но остался равнодушным – он знал, каким подлецом был Ромашка, но уже не в силах был с ним бороться.
Статью Сани напечатали в газете, и он получил разрешение на поисковую экспедицию. Он вернулся в Заполярье, и вскоре к нему должна была присоединиться Катя.
Часть 6 (рассказанная Катей Татариновой). Молодость продолжается
Главы 1-7
После отъезда Сани Катя стала все чаще натыкаться на Ромашова, который преследовал ее буквально повсюду. Она решила забрать у него бумаги, касавшиеся экспедиции отца, и он безропотно отдал их.
Экспедицию попытались отменить, но благодаря настойчивости Кати «поиски капитана Татаринова» были поручены тому, «кто с детских лет был воодушевлен этой мыслью», – Сане Григорьеву.
Главы 8-16
Весной Саня и Катя встретились в  Ленинграде, чтобы начать подготовку к предстоящей экспедиции. Это было счастливое время – они много гуляли, строили смелые планы на будущее. Много времени влюбленные проводили с сестрой Сани, Сашей, и его другом Петей Сковородниковым, которые к тому времени поженились и стали молодыми родителями.
Страшным ударом для всех стала внезапная смерть Саши, которая умерла от воспаления легких сразу после рождения сына. Для маленького Пети была найдена няня – «очень хорошая, с рекомендациями», которая взяла на себя все заботы по уходу за младенцем.
Саня и Катя поженились. Вскоре их ожидало новое испытание на прочность – по непонятным причинам поисковая экспедиция была отменена.
Часть 7. Разлука
Главы 1-8
По прошествии пяти лет молодая семья уже не раз успела сменить место жительства. Саня и Катя успели побывать на Дальнем Востоке, в Крыму, в Ленинграде и Москве. Саня принимал участие в войне в Испании.
Когда началась Великая Отечественная война, Саня не успел проститься с Катей. От мужа она получила только записку «Помни, ты веришь». Вскоре Катя проводила на фронт и Петю Сковородникова, которого считала родным братом.
Все свое время Катя проводила в госпитале. Она получила записку от Ромашова с просьбой срочно покинуть Ленинград, но было уже поздно.
Главы 9-16
В блокадном Ленинграде Кате приходилось несладко – от голода она еле держалась на ногах. Неожиданной стала встреча с Ромашовым, который «попал в окружение и вырвался чудом». Он рассказал, что случайно встретил тяжело раненного Саню, которого попытался спасти, выбираясь из окружения немцев. По его словам, Саня пропал без вести.
В январе 1942 года ослабленную Катю эвакуировали в Ярославль в госпиталь, где ее нашла бабушка. Летом она вернулась в Москву.
Часть 8 (рассказанная Саней Григорьевым). Бороться и искать
Главы 1-10
Во время одного из боев Саня «был ранен в ногу и в лицо». Он успел вовремя катапультироваться, и его спасли местные жители. В санитарном вагоне Саня увидел Ромашова, который не смог скрыть своего разочарования – он был уверен, что Григорьев трагически погиб, как об этом писалось в газете.
Во время обстрела поезда Саня и Ромашка скрылись «в маленькой осиновой роще». Ромашов отобрал у своего давнишнего соперника пистолет, документы и съестные припасы, после чего оставил умирать в одиночестве. Лишь чудом Сане удалось спастись.
Главы 11-20
В госпитале Сане пришлось провести не один месяц: выяснилось, что «нога неправильно срослась и нужно снимать гипс и ломать какие—то кости», а  вскоре он заболел воспалением легких. Поправившись, он уехал в Ленинград, чтобы найти Катю, но безуспешно.
Сане предложили продолжить службу на Севере, и он согласился. В Москве он оставил свой адрес всем друзьям, чтобы Катя смогла отыскать его. Случайно Саня встретил Ромашова, который в порыве откровенности рассказал обо всех своих подлостях, которые он учинил из ревности к Кате.
Часть 9. Найти и не сдаваться
Главы 1-4
В госпитале, где лежала Катя, Саня узнал ее местонахождение. Он послал ей телеграмму, но не дождался ответа – пришел приказ о срочном отбытии в Архангельск. Сане пришлось участвовать в «воздушной войне на Севере». В Заполярье он отыскал доктора Ивана Ивановича.
Главы 5-8
От старого знакомого Саня узнал, что тот напал на след затерянной экспедиции капитана Татаринова. Во время одного из полетов он совершил вынужденную посадку. По воле судьбы координаты местонахождения самолета в точности соответствовали месту, где был окончен путь пропавшей экспедиции.
Часть 10. Последняя страничка
Главы 1-5
Сане удалось найти «экспедицию, то есть то, что от нее осталось» – палатку с уцелевшим телом капитана Татаринова, его дневниками и письмами. Вернувшись в  Полярный к доктору, Саня обнаружил у него Катю. Он передал ей «прощальные письма капитана». Все свободное время Иван Иванович, Катя и Саня «тратили на изучение и подбор материалов экспедиции “Св. Марии”».
Главы 6-9
Летом 1944 года супруги отправились в отпуск в Москву, где встретились со всеми друзьями. Сане предстояло выполнить два важных дела – дать показания по делу Ромашова, а также выступить в Географическом обществе с докладом о найденной экспедиции.
В Энске за одним столом собралось все семейство. В своей торжественной речи старый судья Сковородников объединил двух капитанов – Татаринова и Григорьева, сказав, что такие люди «двигают вперед человечество и науку».
</h6>
<form action="" method="post">
        {{ form.hidden_tag() }}
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    </form>
{% endblock %}