{% extends "base.html" %}

{% block content %}
<h3>Преступление и наказание
</h3><h4>Часть третья
</h4><h5>Глава 1
</h5><h6>Придя в себя, Родион просит родных не беспокоиться. Беседуя с сестрой о Лужине, Раскольников требует, чтобы девушка отказала ему. Пульхерия Александровна хочет остаться присматривать за сыном, но Разумихин уговаривает женщин вернуться в гостиницу.
</h6><h6>Разумихину очень понравилась Дуня, его привлекает ее красота: в ее внешности сила и самоуверенность соединялись с мягкостью и грациозностью.
</h6><h5>Глава 2
</h5><h6>С утра Разумихин навещает мать и сестру Раскольникова. Обсуждая Лужина, Пульхерия Александровна делится с Дмитрием, что с утра они получили письмо от Петра Петровича. Лужин пишет, что хочет навестить их, но просит, чтобы во время их встречи не присутствовал Родион. Мать и Дуня едут к Раскольникову.
</h6><h5>Глава 3
</h5><h6>Раскольников чувствует себя лучше. Родион рассказывает матери и сестре о том, как вчера отдал все свои деньги на похороны бедной семье. Раскольников замечает, что родные его боятся.
</h6><h6>Заходит разговор о Лужине. Родиону неприятно, что Петр Петрович не проявляет должного внимания к невесте. Молодому человеку говорят о письме Петра Петровича, он готов сделать так, как посчитают правильным его родные. Дуня считает, что Родион непременно должен присутствовать во время визита Лужина.
</h6><h5>Глава 4
</h5><h6>К Раскольникову пришла Соня с приглашением на похороны Мармеладова. Несмотря на то, что репутация девушки не позволяет общаться ей на равных с матерью и сестрой Родиона, юноша представляет ее близким. Уходя, Дуня поклонилась Соне, чем очень сильно смутила девушку.
</h6><h6>Когда Соня шла домой, ее начал преследовать какой-то незнакомец, оказавшийся ее соседом (дальше по сюжету становится ясно, что это был Свидригайлов).
</h6><h5>Глава 5
</h5><h6>Раскольников и Разумихин едут к Порфирию, так как Родион попросил друга познакомить его со следователем. Раскольников обращается к Порфирию с вопросом, как можно заявить свое право на вещи, которые он закладывал старухе. Следователь говорит, что ему нужно подать объявление в милицию, и что вещи его не пропали, так как помнит их среди изъятого следствием.
</h6><h6>Обсуждая с Порфирием убийство процентщицы, Родион понимает, что его также подозревают. Порфирий вспоминает о статье Раскольникова. В ней Родион излагает собственную теорию о том, что люди делятся на «обыкновенных» (так называемый «материал») и «необыкновенных» (талантливых, способных сказать «новое слово»)»: «обыкновенные должны жить в послушании и не имеют права переступать закона». «А необыкновенные имеют право делать всякие преступления и всячески преступать закон, собственно потому, что они необыкновенные». Порфирий спрашивает у Раскольникова, считает ли он себя таким «необыкновенным» человеком и способен ли он убить или ограбить, Раскольников отвечает, что «очень может быть».
</h6><h6>Уточняя детали дела, следователь спрашивает у Раскольникова, видел ли он, например, во время последнего визита к процентщице, красильщиков. Медля с ответом, юноша говорит, что не видел. Тут же Разумихин отвечает за друга, что тот был у старухи за три дня до убийства, когда красильщиков там еще не было, ведь они работали в день убийства. Студенты уходят от Порфирия.
</h6><h5>Глава 6
</h5><h6>Возле дома Родиона поджидал незнакомец, который назвал Родиона убийцей и, не пожелав объясниться, уходит.
</h6><h6>Дома Раскольникова снова начала мучить лихорадка. Ему приснился этот незнакомец, который манил его за собой к квартире старухи-процентщицы. Родион ударил Алену Ивановну по голове топором, но она смеётся. Студент пытается убежать, но видит вокруг толпу осуждающих его людей. Родион просыпается.
</h6><h6>К Раскольникову приходит Свидригайлов.
</h6>
<nav class="navbar">
    <a class="btn btn-primary " href="/book_2_2">Предыдущая страница</a>
    <a class="btn btn-primary " href="/book_2_4">Следующая страница</a>
    </nav>
<form action="" method="post">
        {{ form.hidden_tag() }}
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    </form>
{% endblock %}